body{
    font-family: 'Inter', sans-serif;
    background-color: #8ecae6;
}
h2{
    background-color: #113242;
    color: white;
    height: 50px;
    padding: 20px;
}
form{
    display: none;
}
p{
    color:#113242;
    font-size: 25px;
}
.probability{
    display: none;
}